# Personal
.vscode/
.idea/
pyrightconfig.json
diploma/
todo.md

# Private data
.env
env.*

# Python
__pycache__/
.venv/
.pytest_cache/
venv/

# Database
db.sqlite3
dump.rdb

# Logs
logs/
*.log

# Builds
build/

# Debug
__debug*

# Archives
*.zip

# Mediafiels
media/
